@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

.app-container {
  min-height: calc(100vh - 56px);
}

.container {
  margin: auto;
  max-width: 1140px;
  padding: $xl;
}

.command {
  background-color: #fbe5e1;
  border-radius: 4px;
  color: $command;
  padding: 2px 4px;
}
